.active {
    opacity: 1;
    @apply bg-base-100;
    transform: translateY(0);

    .item {
        opacity: 1;
    }
}

.home {
    color:yellow
}

.toggle {
    color: yellow
}

.logo {
    font-family: "Times New Roman";
}